// Colors
$black: rgb(0, 0, 0);
$gray: rgb(172, 172, 172);

button {
  border: none;
  transition: background-color 0.5s ease;
  &:hover {
    background-color: rgb(202, 202, 202);
  }
  &:active {
    background-color: rgb(68, 77, 90);
  }
}
p {
  margin: 0;
  padding: 0;
}
.black {
  color: $black;
}

.gray {
  color: $gray;
}

// .fs-m {
// }
// .fs-l {
// }
.card-container {
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  .card-wrapper {
    padding: 20px;
    max-height: fit-content;
    .top-row {
      text-align: left;
    }
    .middle-row {
      p {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .bottom-row {
      display: flex;
      justify-content: flex-end;
      // text-align: right;
    }
  }
}
